.candles-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: lightblue;
}

.candles-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 58px;
  margin-right: 10px;
}

.candles-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.candles-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 24px;
  font-size: 13px;
  padding: 0 3px 0 0;
}

.candles-interval-select {
  height: 24px;
  width: 70px;
  cursor: pointer;
}

.candles-interval-date {
  height: 24px;
  width: 200px;
  cursor: pointer;
}

.candles-interval-ticker {
  height: 24px;
  width: 60px;
}

.candles-button {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: center;
  height: 24px;
  font-size: 13px;
  margin-right: 10px;
  border-radius: 4px;
  padding: 0 3px 0 7px;
  background-color: lightseagreen;
  cursor: pointer;
}

.candles-chart {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 96%;
  margin: 12px auto;
  padding: 10px;
  background-color: lightsteelblue;
}
